# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# ---- Node.js (Frontend) ----
node_modules/
dist/
build/
.env
*.log

# ---- .NET (Backend) ----
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log
*.user
*.vs/
*.db
*.mdf
*.ldf

# ---- OS Specific ----
Thumbs.db
.DS_Store

# ---- IDE Specific ----
.vscode/
.idea/

# ---- Others ----
*.zip
*.tar
*.gz

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
Frontend/node_modules/
/node_modules
npm-debug.log
yarn-error.log



# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
